.NavLink {
  display: block;
  padding: 0.5rem 1rem;
  font-weight: 500;
  color: var(--brandGray);
  text-decoration: none;
  background-color: transparent;
}

.NavLink + .NavLink {
  margin-left: 1rem;
}

.NavLink:focus,
.NavLink:hover {
  color: var(--secondary);
}

.NavLink.active {
  color: var(--lightGrey);
  background-color: var(--brandRed);
}
